{% extends "base.html" %}

{% block page_content %}

<div class="row bg-info">
    <div class="col-lg-12 bg-info">
      <h1 id="covid-19-sentiment-analysis" class=" display-3 text-center text-light">COVID-19 Sentiment Analysis</h1>
      
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-lg-2">
      
    </div>
    <div class="col-lg-2">
        <div class="card border-secondary mb-3 mt-3 mx-5" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body text-secondary">
                <p class="card-text">53</p>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="card border-secondary mb-3 mt-3 mx-5" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body text-secondary">
                <p class="card-text">53</p>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="card border-secondary mb-3 mt-3 mx-5" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body text-secondary">
                <p class="card-text">53</p>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="card border-secondary mb-3 mt-3 mx-5" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body text-secondary">
                <p class="card-text">53</p>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
      
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-lg-2">
      
    </div>
    <div class="col-lg-2">
        <div class="card border-secondary mb-3 mt-3 mx-5" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body text-secondary">
                <p class="card-text">53</p>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="card border-secondary mb-3 mt-3 mx-5" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body text-secondary">
                <p class="card-text">53</p>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="card border-secondary mb-3 mt-3 mx-5" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body text-secondary">
                <p class="card-text">53</p>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="card border-secondary mb-3 mt-3 mx-5" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body text-secondary">
                <p class="card-text">53</p>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
      
    </div>
</div>



<div class="row">
    <div class="col-lg-6">
        {% autoescape off %}
            {{ plot_div.0 }}
        {% endautoescape %}
    </div>
    <div class="col-lg-6">
        {% autoescape off %}
            {{ plot_div.1 }}
        {% endautoescape %}
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        {% autoescape off %}
            {{ plot_div.2 }}
        {% endautoescape %}
    </div>
    <div class="col-lg-6">
        {% autoescape off %}
            {{ plot_div.3 }}
        {% endautoescape %}
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
      
    </div>
</div>


{% endblock %}

