{% extends "base.html" %}

{% block page_content %}
<div class="container-fluid bg-info text-center" style="height: 110px;">
    <h1 class="display-3 text-light" style="padding-top: 1vw;">
        COVID-19 Sentiment Analysis
    </h1>
</div>

<div class="container-fluid bg-light h-25 content-row">
    <div class="d-flex justify-content-center">
        <div class="card-deck" style="padding-top: 1rem;">
            <div class="card border-secondary mb-3 mt-3 mx-5" style="height:150px; width: 20rem; max-width: 20rem;">
                <div class="card-header">Header</div>
                <div class="card-body text-secondary">
                    <!-- <h5 class="card-title">Secondary card title</h5> -->
                    <p class="card-text">102</p>
                </div>
            </div>
            <div class="card border-secondary mb-3 mt-3 mx-5" style="max-width: 20rem;">
                <div class="card-header">Header</div>
                <div class="card-body text-secondary">
                    <!-- <h5 class="card-title">Secondary card title</h5> -->
                    <p class="card-text">53</p>
                </div>
            </div>
            <div class="card border-secondary mb-3 mt-3 mx-5" style="max-width: 20rem;">
                <div class="card-header">Header</div>
                <div class="card-body text-secondary">
                    <!-- <h5 class="card-title">Secondary card title</h5> -->
                    <p class="card-text">53</p>
                </div>
            </div>
            <div class="card border-secondary mb-3 mt-3 mx-5" style="max-width: 20rem;">
                <div class="card-header">Header</div>
                <div class="card-body text-secondary">
                    <!-- <h5 class="card-title">Secondary card title</h5> -->
                    <p class="card-text">53</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="d-flex justify-content-center">...</div> -->

{% endblock %}

