{% extends "base.html" %}
{% load static %}
{% block page_content %}

<div class="container-fluid scroll-counter-data">
  <div class="row">
    <div class="scroll-action col-lg-4">
      <h1 class="counter">
       {{ country_metrics.0 }}
      </h1>
      <hr>
      <h2 class="counterB">
       {{ cases_metrics.0 }}
      </h2>
    </div>
    <div class="scroll-action col-lg-4">
      <h1 class="counter">
        {{ country_metrics.1 }}
      </h1>
      <hr>
      <h2 class="counterB">
        {{ cases_metrics.1 }}
      </h2>
    </div>
    <div class="scroll-action col-lg-4">
      <h1 class="counter">
        {{ country_metrics.2 }}
      </h1>
      <hr>
      <h2 class="counterB">
        {{ cases_metrics.2 }}
      </h2>
    </div>

    <div class="scroll-action col-lg-4">
      <h1 class="counter">
        {{ country_metrics.3 }}
      </h1>
      <hr>
      <h2 class="counterB">
        {{ cases_metrics.3 }}
      </h2>
    </div>

    <div class="scroll-action col-lg-4">
      <h1 class="counter">
        {{ country_metrics.4 }}
      </h1>
      <hr>
      <h2 class="counterB">
        {{ cases_metrics.4 }}
      </h2>
    </div>

    <div class="scroll-action col-lg-4">
      <h1 class="counter">
        {{ country_metrics.5 }}
      </h1>
      <hr>
      <h2 class="counterB">
        {{ cases_metrics.5 }}
      </h2>
    </div>

    <div class="scroll-action col-lg-4">
      <h1 class="counter">
        {{ country_metrics.6 }}
      </h1>
      <hr>
      <h2 class="counterB">
        {{ cases_metrics.6 }}
      </h2>
    </div>

    <div class="scroll-action col-lg-4">
      <h1 class="counter">
        {{ country_metrics.7 }}
      </h1>
      <hr>
      <h2 class="counterB">
        {{ cases_metrics.7 }}
      </h2>
    </div>

    <div class="scroll-action col-lg-4">
      <h1 class="counter">
        {{ country_metrics.8 }}
      </h1>
      <hr>
      <h2 class="counterB">
        {{ cases_metrics.8 }}
      </h2>
    </div>

    <div class="scroll-action col-lg-4">
      <h1 class="counter">
        {{ country_metrics.9 }}
      </h1>
      <hr>
      <h2 class="counterB">
        {{ cases_metrics.9 }}
      </h2>
    </div>
  </div>
</div>

<!-- Side-scrolling (auto and manual) with API-streamed data inside   -->
<!-- Segregating Jumbotron with space in the middle: lg-4; gunmetal col -->
<section class="map-separator">
  <div class="row justify-content-center mb-5 ml-5 mr-5">
    <div class="jumbotron jumbotron-fluid col-lg-12 mt-4 ml-4 mr-4 boxed-font">
      <h1 class="display-4 map-text">Worldwide COVID-19 Tracker</h1>
      <p class="lead map-text">Confirmed COVID-19 Cases as of {{ latest_date }}</p>
      <hr class="my-4 in-box-line">
      <div class="container col-lg-8 inline-block">
        {% autoescape off %}
        {{ plot_div.4 }}
        {% endautoescape %}
      </div>
      <p class="lead map-text">
        <a href="https://github.com/CSSEGISandData/COVID-19">Source</a>
      </p>
    </div>
  </div>

  <div class="row justify-content-center mb-5 ml-5 mr-5">
    <div class="jumbotron jumbotron-fluid col-lg-12 mt-4 ml-4 mr-4 boxed-font">
      <h1 class="display-4 map-text">Sentiment Heat Map</h1>
      <!-- <p class="lead map-text">Confirmed COVID-19 Cases as of  </p> -->
      <hr class="my-4 in-box-line">
        <div class="container col-lg-8 inline-block">
          {% autoescape off %}
              {{ plot_div.5 }}
          {% endautoescape %}
        </div>
    </div>
  </div>

</section>

<!-- <hr class="map-separator"> -->

<section>
  <div class="row justify-content-between ml-0 mr-0">

    <div class="jumbotron col-lg-5 ml-5 mt-5 boxed-font">
    <h1 class="display-4">Number of tweets by sentiment over time</h1>
      <p class="lead"></p>
    <hr class="my-4 in-box-line">
    {% autoescape off %}
        {{ plot_div.0 }}
    {% endautoescape %}
  </div>

  <div class="container col-lg-5 mr-5 mt-5 boxed-font">
      <div class= "jumbotron twitter-data">
        <h2 class="display-4">Positive Tweet</h2>
        <hr class="my-4 in-box-line">
      </div>
      <div class= "jumbotron mt-5 twitter-data">
        <h2 class="display-4">Negative Tweet</h2>
        <hr class="my-4 in-box-line">
    </div>
    <div class= "jumbotron mt-5 twitter-data">
      <h2 class="display-4">Neutral Tweet</h2>
      <hr class="my-4 in-box-line">
    </div>


  </div>



  </div>

  <div class="row justify-content-between ml-0 mr-0">
    <div class="jumbotron col-lg-5 ml-5 mt-5 boxed-font">
    <h1 class="display-4">Top 20 Most Used Words</h1>
    <p class="lead">Common words, along with the search keywords 'Coronavirus' and 'COVID-19' are excluded.</p>
    <hr class="my-4 in-box-line">
    {% autoescape off %}
        {{ plot_div.1 }}
    {% endautoescape %}
    </div>

    <div class="jumbotron col-lg-5 mr-5 mt-5 boxed-font">
    <h1 class="display-4">Sentiment Proportions by Keyword</h1>
    <hr class="my-4 in-box-line">
    {% autoescape off %}
        {{ plot_div.2 }}
    {% endautoescape %}
  </div>

  </div>

</section>

<!-- <section id="data-section-C">
  <div class="row ml-0">
    <div class="jumbotron col-lg-5 ml-5 boxed-font">
    <h1 class="display-4">Sentiment Proportions by Keyword</h1>
    <hr class="my-4 in-box-line">
    {% autoescape off %}
        {{ plot_div.2 }}
    {% endautoescape %}
  </div>
  </div> -->


<section id="data-section-D">
  <div class="row justify-content-center ml-0 mr-0 mt-5">
    <div class="jumbotron col-lg-9 mr-5 mb-5 boxed-font">
    <h1 class="display-4">Comparison of Negative Twitter Sentiment Related to COVID-19 with Secondary Sources</h1>
    <p class="lead">
      All variables are normalised to [0, 1] for comparison.<br>
      Secondary variables include:
      <li>COVID-19: Number of confirmed cases in the UK</li>
      <li>FTSE100: Market open price</li>
      <li>UK News: No. of COVID-19 related articles published by The Guardian</li>
    </p>
    <hr class="my-4 in-box-line">
    {% autoescape off %}
        {{ plot_div.3 }}
    {% endautoescape %}
    </div>
  </div>

</section>

{% endblock %}
