{% extends "base.html" %}
{% load static %}
{% block page_content %}

<div class="container-fluid scroll-counter-data">
  <div class="row">
    <div class="scroll-action col-lg-4">
      <h1 class="counter">
       {{ country_metrics.0 }}
      </h1>
      <hr>
      <h2 class="counter">
       {{ cases_metrics.0 }}
      </h2>
    </div>
    <div class="scroll-action col-lg-4">
      <h1 class="counter">
        {{ country_metrics.1 }}
      </h1>
      <hr>
      <h2 class="counter">
        {{ cases_metrics.1 }}
      </h2>
    </div>
    <div class="scroll-action col-lg-4">
      <h1 class="counter">
        {{ country_metrics.2 }}
      </h1>
      <hr>
      <h2 class="counter">
        {{ cases_metrics.2 }}
      </h2>
    </div>

    <div class="scroll-action col-lg-4">
      <h1 class="counter">
        {{ country_metrics.3 }}
      </h1>
      <hr>
      <h2 class="counter">
        {{ cases_metrics.3 }}
      </h2>
    </div>

    <div class="scroll-action col-lg-4">
      <h1 class="counter">
        {{ country_metrics.4 }}
      </h1>
      <hr>
      <h2 class="counter">
        {{ cases_metrics.4 }}
      </h2>
    </div>

    <div class="scroll-action col-lg-4">
      <h1 class="counter">
        {{ country_metrics.5 }}
      </h1>
      <hr>
      <h2 class="counter">
        {{ cases_metrics.5 }}
      </h2>
    </div>

    <div class="scroll-action col-lg-4">
      <h1 class="counter">
        {{ country_metrics.6 }}
      </h1>
      <hr>
      <h2 class="counter">
        {{ cases_metrics.6 }}
      </h2>
    </div>

    <div class="scroll-action col-lg-4">
      <h1 class="counter">
        {{ country_metrics.7 }}
      </h1>
      <hr>
      <h2 class="counter">
        {{ cases_metrics.7 }}
      </h2>
    </div>

    <div class="scroll-action col-lg-4">
      <h1 class="counter">
        {{ country_metrics.8 }}
      </h1>
      <hr>
      <h2 class="counter">
        {{ cases_metrics.8 }}
      </h2>
    </div>

    <div class="scroll-action col-lg-4">
      <h1 class="counter">
        {{ country_metrics.9 }}
      </h1>
      <hr>
      <h2 class="counter">
        {{ cases_metrics.9 }}
      </h2>
    </div>
  </div>
</div>

<!-- Side-scrolling (auto and manual) with API-streamed data inside   -->
<!-- Segregating Jumbotron with space in the middle: lg-4; gunmetal col -->

<section id="data-section-A">
  <div class="row">
    <div class="jumbotron col-lg-5 ml-5 mt-5 boxed-font">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is the first data plot, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4 in-box-line">
    {% autoescape off %}
        {{ plot_div.4 }}
    {% endautoescape %}
  </div>
  </div>

</section>

<section id="data-section-B">
  <div class="row justify-content-end">
    <div class="jumbotron col-lg-5 mr-5 boxed-font">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is the second data plot, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4 in-box-line">
    {% autoescape off %}
        {{ plot_div.1 }}
    {% endautoescape %}
    </div>
  </div>

</section>

<section id="data-section-C">
  <div class="row">
    <div class="jumbotron col-lg-5 ml-5 boxed-font">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is the third data plot, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4 in-box-line">
    {% autoescape off %}
        {{ plot_div.2 }}
    {% endautoescape %}
  </div>
  </div>

</section>

<section id="data-section-D">
  <div class="row justify-content-end">
    <div class="jumbotron col-lg-5 mr-5 mb-5 boxed-font">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is the final data plot, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4 in-box-line">
    {% autoescape off %}
        {{ plot_div.3 }}
    {% endautoescape %}
    </div>
  </div>

</section>

{% endblock %}
