{% extends "base.html" %}
{% load static %}
{% block page_content %}

<div class="container-fluid scroll-counter-data">
  <div class="row">
    <div class="scroll-action col-lg-4">
      <h1 class="counter">UK</h1>
      <hr>
    </div>
    <div class="scroll-action col-lg-4">
      <h1 class="counter">USA</h1>
      <hr>
    </div>
    <div class="scroll-action col-lg-4">
      <h1 class="counter">China</h1>
      <hr>
    </div>

    <div class="scroll-action col-lg-4">
      <h1 class="counter">Italy</h1>
      <hr>
    </div>

    <div class="scroll-action col-lg-4">
      <h1 class="counter">France</h1>
      <hr>
    </div>

    <div class="scroll-action col-lg-4">
      <h1 class="counter">Spain</h1>
      <hr>
    </div>

    <div class="scroll-action col-lg-4">
      <h1 class="counter">Netherlands</h1>
      <hr>
    </div>

    <div class="scroll-action col-lg-4">
      <h1 class="counter">Germany</h1>
      <hr>
    </div>

    <div class="scroll-action col-lg-4">
      <h1 class="counter">Portugal</h1>
      <hr>
    </div>

    <div class="scroll-action col-lg-4">
      <h1 class="counter">Greece</h1>
      <hr>
    </div>
  </div>
</div>

<!-- Side-scrolling (auto and manual) with API-streamed data inside   -->
<!-- Segregating Jumbotron with space in the middle: lg-4; gunmetal col -->

<section id="data-section-A">
  <div class="row">
    <div class="jumbotron col-lg-5 ml-5 mt-5 boxed-font">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is the first data plot, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4 in-box-line">
    {% autoescape off %}
        {{ plot_div.0 }}
    {% endautoescape %}
  </div>
  </div>

</section>

<section id="data-section-B">
  <div class="row justify-content-end">
    <div class="jumbotron col-lg-5 mr-5 boxed-font">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is the second data plot, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4 in-box-line">
    {% autoescape off %}
        {{ plot_div.1 }}
    {% endautoescape %}
    </div>
  </div>

</section>

<section id="data-section-C">
  <div class="row">
    <div class="jumbotron col-lg-5 ml-5 boxed-font">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is the third data plot, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4 in-box-line">
    {% autoescape off %}
        {{ plot_div.2 }}
    {% endautoescape %}
  </div>
  </div>

</section>

<section id="data-section-D">
  <div class="row justify-content-end">
    <div class="jumbotron col-lg-5 mr-5 mb-5 boxed-font">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is the final data plot, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4 in-box-line">
    {% autoescape off %}
        {{ plot_div.3 }}
    {% endautoescape %}
    </div>
  </div>

</section>

{% endblock %}
